
body{
    background-color: rgba(234, 174, 221, 0.837);
}

main {
    display: flex;
    margin-left: 60px;
    margin-bottom: 50px;
}

.copiar{
    position: relative;
    margin-top: 20px;
    margin-left:205px ;
    color:rgb(238, 190, 217);
    font-size: 20px;
    background-color: white;
}

.botones{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.encriptar{
    background-color: rgb(139, 0, 83);
    font-size: 20px;
    color: rgb(238, 190, 217);
    
}

.desencriptar{
    margin-left: 30px;
    font-size: 30px;
    background-color: white;
    color:rgba(234, 174, 221, 0.837)
}


.input-texto{
    margin-top: 20px;
}
.mensaje{
    position: relative;
    margin-top: 20px;
    margin-left: 90px;
    background-image: url(imagen.png);
    background-repeat: no-repeat;
    background-position: 18px;
    background-size: 200px;
}

.p{
    display: inline-table;
    margin-top: 0px;
}
#advertencia{
    width: 5%;
}


